<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Room</title>
    <link href="/css/home.css" rel="stylesheet">
</head>
<body>
    <%- include('header') %>
    <%- include(page) %>
    <%- include('footer') %>
</body>
</html>